<form [formGroup]="searchEbookForm">

    <div *ngIf="!expanded" class="form-row mt-3">
        <div class="form-group col-md-6"> 
            <label for="inputValue">Search Value:</label>
            <input formControlName="inputValue" class="form-control" type="text" id="inputValue" name="inputValue">
            <div class="btn-group" btnRadioGroup formControlName="valueSearchType">
                <label btnRadio="Term" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Term</label>
                <label btnRadio="Phrase" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Phrase</label>
                <label btnRadio="Fuzzy" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Fuzzy</label>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inputField">Select Field:</label>
             <select formControlName="inputField" class="form-control" id="inputField">
                <option [ngValue]="null" disabled selected hidden>Select a Field</option>
                <option *ngFor="let field of fields" value="{{ field }}">{{field}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <button class="btn btn-primary " type="submit" (click)="search()"><i class="fa fa-search"></i> Search</button>
            <button class="btn btn-secondary " type="submit" (click)="toggleExpand()"><i class="fa fa-angle-double-down"></i>Advanced</button>
        </div>
    </div>

    <div *ngIf="expanded">
    <div class="form-row">
        <div class="form-group col-md-6"> 
            <label for="inputTitle">By Title</label>
            <input formControlName="inputTitle" class="form-control" type="text" id="inputTitle" name="inputTitle">
            <div class="btn-group" btnRadioGroup formControlName="titleSearchType">
                <label btnRadio="Term" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Term</label>
                <label btnRadio="Phrase" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Phrase</label>
                <label btnRadio="Fuzzy" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Fuzzy</label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputAuthor">By Author</label>
            <input formControlName="inputAuthor" class="form-control" type="text" id="inputAuthor" name="inputAuthor">
            <div class="btn-group" btnRadioGroup formControlName="authorSearchType">
                <label btnRadio="Term" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Term</label>
                <label btnRadio="Phrase" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Phrase</label>
                <label btnRadio="Fuzzy" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Fuzzy</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputKeyword">By Keyword</label>
            <input formControlName="inputKeyword" class="form-control" type="text" id="inputKeyword" name="inputKeyword">
            <div class="btn-group" btnRadioGroup formControlName="keywordSearchType">
                <label btnRadio="Term" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Term</label>
                <label btnRadio="Phrase" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Phrase</label>
                <label btnRadio="Fuzzy" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Fuzzy</label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputContent">By Content</label>
            <input formControlName="inputContent" class="form-control" type="text" id="inputContent" name="inputContent">
            <div class="btn-group" btnRadioGroup formControlName="contentSearchType">
                <label btnRadio="Term" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Term</label>
                <label btnRadio="Phrase" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Phrase</label>
                <label btnRadio="Fuzzy" class="btn btn-light btn-sm"
                       tabindex="0" role="button">Fuzzy</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputLanguage">By Language</label>
            <select formControlName="inputLanguage" class="form-control" id="inputLanguage">
                <!-- <option [ngValue]="null" disabled selected hidden>Filter By Language</option> -->
                <option [ngValue]="null">Any</option>
                <option *ngFor="let language of languages" value="{{ language.id }}">{{language.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-3 text-center">
            <label for="booleanSearchOption">Boolean Search</label> 
            <div class="btn-group mr-2" btnRadioGroup formControlName="booleanSearchOption" id="booleanSearchOption">
                <label btnRadio="AND" class="btn btn-info"
                       uncheckable tabindex="0" role="button">AND</label>
                <label btnRadio="OR" class="btn btn-info"
                       uncheckable tabindex="0" role="button">OR</label>
            </div>
        </div>
        <div class="col-md-2 offset-md-1 form-group">
            <button class="btn btn-secondary " type="submit" (click)="toggleExpand()"><i class="fa fa-angle-double-up"></i> Simple</button>
            <button class="btn btn-primary" type="submit" (click)="search()"><i class="fa fa-search"></i> Search</button>
        </div>    
    </div>
    </div>  
</form>