<div class="container" id="searchContainer">
            <form [formGroup]="searchEbookForm">
                <div class="row no-gutters align-items-center">
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search"
                               placeholder="Search topics or keywords">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-lg btn-primary" type="submit">Search</button>
                    </div>

                </div>
        </form>
</div>
