<div id="ebooksCard" class="card">
    <div class="card-header">
        <h4 class="text-center display-4">Ebooks List</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 mb-2">
                <button class="btn btn-success float-right" routerLink="/ebooks/add">Add a new Ebook</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <app-ebooks-search class="justify-content-center"></app-ebooks-search>
            </div>
        </div>
    </div>
</div>
<app-ebooks-list></app-ebooks-list>