<div class="row justify-content-center">
    <h4>Add an Ebook</h4>
</div>
<form (ngSubmit)="onSubmit($event)">
    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="">
    </div>
    <div class="form-group">
        <label for="inputAuthor">Author</label>
        <input type="text" class="form-control" id="inputAuthor" placeholder="">
    </div>
    <div class="form-group">
        <label for="inputYear">Publication Year</label>
        <input type="text" class="form-control" id="inputYear" placeholder="">
    </div>
    <div class="form-group">
            <label for="inputCategory">Category</label>
            <select class="form-control" id="inputCategory">
              <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
            </select>
          </div>
    <div class="form-group">
        <label for="inputKeywords">Keywords</label>
        <input type="text" class="form-control" id="inputKeywordsr" placeholder="">
    </div>
    <div class="form-group">
        <label for="inputFile">Ebook file</label>
        <input type="file" class="form-control-file " id="inputFile">
    </div>
    <div class="form-group">
        <label for="inputThumbnail">Ebook thumbnail</label>
        <input type="file"  class="form-control-file " id="inputThumbnail">
    </div>
     <!-- <img id='img-upload' [src]="imageSrc"/> -->
    <input type="submit" class="btn btn-success btn-lg" value="Submit">
</form>