<div class="row">
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-12">
        <div id="categoriesCard" class="card">
            <div class="card-header">
                <h4 class="display-4">Categories</h4>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-8 offset-1">
                        
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success btn-lg" [routerLink]="['/categories/add']"><i class="fa fa-plus"></i> Add a new Category</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <app-categories-list></app-categories-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>