ul {
    margin-bottom: 0;
}

li {
    margin-bottom: 12px;
    border: 1px solid gray;
    padding: 5px;
}

.flex-fill {
    flex: 1;
}

a {
    text-decoration: none;
}

/* #ebook-list > div:nth-of-type(3n+1) {
} */
